In [1]:
import pandas as pd

In [9]:
data.to_csv("late",index_label=False)

In [12]:
data = pd.read_csv("late")
data

,car_model,hp_kW,Displacement_cc,km,age,Gearing_Type,cons_comb,price
0,Audi A1,66.0,1422.0,56013.0,3.0,Automatic,3.8,15770
1,Audi A1,141.0,1798.0,80000.0,2.0,Automatic,5.6,14500
2,Audi A1,85.0,1598.0,83450.0,3.0,Automatic,3.8,14640
3,Audi A1,66.0,1422.0,73000.0,3.0,Automatic,3.8,14500
4,Audi A1,66.0,1422.0,16200.0,3.0,Automatic,4.1,16790
...,...,...,...,...,...,...,...,...
15408,Renault Espace,118.0,1598.0,10803.0,1.0,Automatic,4.6,33990
15409,Renault Espace,165.0,1798.0,15.0,0.0,Automatic,7.4,33975
15410,Renault Espace,118.0,1598.0,1.0,1.0,Automatic,4.7,33990
15411,Renault Espace,146.0,1997.0,15.0,0.0,Automatic,5.3,33975
15412,Renault Espace,118.0,1598.0,1.0,1.0,Automatic,4.7,34200

In [33]:
from sklearn.model_selection import train_test_split 
from sklearn.metrics import r2_score,mean_squared_error 
from xgboost import XGBRegressor
from sklearn.preprocessing import OrdinalEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import Pipeline
import pickle

In [34]:
X = data.drop("price",axis=1)
y = data.price

In [35]:
cat = X.select_dtypes("object").columns
cat

Index(['car_model', 'Gearing_Type'], dtype='object')

In [36]:
ord_enc = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)

column_trans = make_column_transformer((ord_enc, cat), remainder='passthrough')

In [37]:
operations = [("OrdinalEncoder", column_trans), ("XGB_model", XGBRegressor(random_state=101))]

In [38]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=101,test_size=0.2)
model = Pipeline(steps=operations)
model.fit(X_train,y_train)
filename = "my_model4"
pickle.dump(model,open(filename,"wb"))

In [40]:
columns2=list(X.columns)
columns2

['car_model',
 'hp_kW',
 'Displacement_cc',
 'km',
 'age',
 'Gearing_Type',
 'cons_comb']

In [42]:
pickle.dump(columns2,open("my_columns2","wb"))

In [43]:
data

,car_model,hp_kW,Displacement_cc,km,age,Gearing_Type,cons_comb,price
0,Audi A1,66.0,1422.0,56013.0,3.0,Automatic,3.8,15770
1,Audi A1,141.0,1798.0,80000.0,2.0,Automatic,5.6,14500
2,Audi A1,85.0,1598.0,83450.0,3.0,Automatic,3.8,14640
3,Audi A1,66.0,1422.0,73000.0,3.0,Automatic,3.8,14500
4,Audi A1,66.0,1422.0,16200.0,3.0,Automatic,4.1,16790
...,...,...,...,...,...,...,...,...
15408,Renault Espace,118.0,1598.0,10803.0,1.0,Automatic,4.6,33990
15409,Renault Espace,165.0,1798.0,15.0,0.0,Automatic,7.4,33975
15410,Renault Espace,118.0,1598.0,1.0,1.0,Automatic,4.7,33990
15411,Renault Espace,146.0,1997.0,15.0,0.0,Automatic,5.3,33975
15412,Renault Espace,118.0,1598.0,1.0,1.0,Automatic,4.7,34200